<cn-navbar isNavbarHeadUsed="true">
    <cn-navbar-item-head>
        qwömpğqmpğqwm
    </cn-navbar-item-head>
    <cn-navbar-item>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>
    </cn-navbar-item>
    <cn-navbar-item>
        qmwopqmoqwowq <br>

        qmwopqmoqwowq <br>
    </cn-navbar-item>
    <cn-navbar-item>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>
        qmwopqmoqwowq <br>

    </cn-navbar-item>
    <cn-navbar-item></cn-navbar-item>
    <cn-navbar-item></cn-navbar-item>
</cn-navbar>