<div class="modal"
    [ngClass]="{'display-block':modalService.isModalVisible(),'display-none' : !modalService.isModalVisible()}">
    <div class="modal-content">

        <div class="projected-content">
            <ng-container #contentContainer></ng-container>
        </div>
        <div class="modal-actions">
            <button class="modal-actions-ok" (click)="confirm()">Ok</button>
            <button class="modal-actions-cancel" (click)="cancel()">Cancel</button>
        </div>

    </div>
    <div class="modal-backdrop">
    </div>
</div>

<ng-template #contentTemplate>
    <ng-content></ng-content>
</ng-template>