<div class="card-box">
    <c-card>
        <c-card-header justify="flex-start">
            <c-card-title>Hello World</c-card-title>
            <c-card-sub-title>Hello World</c-card-sub-title>
        </c-card-header>
        <c-card-content justify="flex-start">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" cCardImage size="medium">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum vel
            excepturi rerum aspernatur eum tempora? Harum modi incidunt, nam molestias, ipsum eveniet illo adipisci ab,
            aspernatur provident consequuntur blanditiis tenetur!
        </c-card-content>
    </c-card>
</div>